<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AWSRegion</key>
	<string>$(AWS_REGION)</string>
	<key>AWSUserPoolId</key>
	<string>$(AWS_USERPOOLID)</string>
	<key>AWSClientId</key>
	<string>$(AWS_CLIENTID)</string>
	<key>AWSAPIBaseUrl</key>
	<string>$(AWS_APIBASEURL)</string>
	<key>AWSCallbackURL</key>
	<string>$(AWS_CALLBACKURL)</string>
	<key>AWSDomainURL</key>
	<string>$(AWS_DOMAINURL)</string>
	<key>AWSIdentityPoolId</key>
	<string>$(AWS_IDENTITYPOOLID)</string>
	<key>OpenAICallback</key>
	<string>$(OPENAI_CALLBACK)</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string></string>
	<key>OpenAICallback</key>
	<string>$(OPENAI_CALLBACK)</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>We need this data to update HealthKit data from workouts recorded in the app.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>We need this permission to share the health data with HealthKit, such as heartrate and weight.</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.seniordesign.iOSGymApp</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>ec2-54-224-199-79.compute-1.amazonaws.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSTemporaryExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
